<%= turbo_frame_tag dom_id(comment) do %>
  <%= form_for comment,
               html: {
                 class: "grow pl-2",
               } do |f| %>
      <div class="comment_content">
        <%= f.rich_text_area :content %>
      </div>
      <div class="flex gap-1 mt-2">
      <%= f.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </div>
  <% end %>
<% end %>
