<%= turbo_frame_tag "modal#{local_assigns[:level]}" do %>
  <div data-controller="show-modal"
       data-show-modal-target="modal"
       data-show-modal-show-value="true"
       data-show-modal-level-value="<%= local_assigns[:level] || 1 %>"
       data-turbo-temporary tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-fit max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
