<div id="toast-container" data-toast-provider-target="container" class="fixed top-0 right-0 p-4">
  <% flash.each do |type, message| %>
    <%= render "shared/toast_#{type}", message: %>
  <% end %>
</div>
