<%= render "shared/modal_container", level: 2 do %>
  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 w-64">
    <div class="flex flex-col justify-center items-center p-6 w-full mx-auto">
      <img class="w-10 h-10 md:w-16 md:h-16 rounded-full" src="<%= avatar_placeholder_url(@user) %>" alt="Rounded avatar">
      <h1>Unfollow <%= @user.email.split("@").first %> ?</h1>
    </div>
    <div class="flex justify-center items-center w-full">
      <button data-action="click->modal#close"
              class="border-t border-r h-14 w-1/2">Cancel</button>
      <%= link_to unfollow_user_path(@user),
                  data: { turbo_method: :delete },
                  class: "block flex justify-center items-center border-t border-l h-14 w-1/2 text-red-500 font-bold" do %>
        Unfollow
      <% end %>
    </div>
  </div>
<% end %>
