<a href="#" class="flex gap-2 w-full px-3 py-2 bg-white hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 last:border last:border-gray-200">
  <div>
    <img class="w-6 h-6 rounded-full" src="https://avatar.iran.liara.run/public" alt="Rounded avatar">
  </div>
  <div>
    <div class="w-full flex justify-between">
      <span class="block font-semibold hover:underline">
        user.name
      </span>
    </div>
    <div>
      <div>
        <%= post.title %>
      </div>
      <div>
        <span class="hover:text-gray-950 hover:underline">Like</span>
        <span class="hover:text-gray-950 hover:underline">Comment</span>
        <span class="hover:text-gray-950 hover:underline">Repost</span>
        <span class="hover:text-gray-950 hover:underline">Share</span>
      </div>
    </div>
  </div>
</a>
